[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
requests = "*"
pytest-allure-adaptor = "*"
baidu-aip = "*"
PILLOW ="*"
selene = "*"
pytest = "==3.6"

[dev-packages]

[pipenv]
allow_prereleases = true
